<h1>User2</h1>

<form action="/add" method="POST">
    EnableFCM: <input type="next" EnableFCM="EnableFCM"><br>
    Avatar: <input type="next" Avatar="Avatar"><br>
    Banner: <input type="next" Banner="Banner"><br>
    Fullname: <input type="next" Fullname="Fullname"><br>
    TypeUser, <input type="next" TypeUser,="TypeUser,"><br>
    IdProvince: <input type="next" IdProvince="IdProvince"><br>
    <button type="submit">User2</button>
</form>